.page-footer {

  .frm_forms {

    .form-group {
      input[type=text], input[type=password], input[type=search], input[type=email] {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }

    }

  }

}