.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  &.absolute-right {
    left: auto;
    right: 0px;
  }
  &.absolute-bottom {
    top: auto;
    bottom: 0px;
  }
  &.absolute-bottom-right {
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0px;
  }

}